# ===================
# 공통
# ===================
.DS_Store
.env
*.log

# ===================
# 백엔드 (Spring Boot)
# ===================
/rentex/.gradle/
/rentex/.idea/
/rentex/build/
/rentex/out/
/rentex/*.iml


# ===================
# 프론트엔드 (React + Vite)
/rentex-frontend/node_modules/
/rentex-frontend/dist/
/rentex-frontend/.vite/
/rentex-frontend/.eslintcache

# ===================
# OS/Tool 별
# ===================
*.swp
*.tmp
*.bak
*.log

# 스프링 부트 비밀 설정 파일
application-secret.yml

